/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}
/* HEADER */
header{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
}

/* NAVIGATION */
.left-nav{
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100vh - 100px);
    z-index: 10;
    width: 170px;
}
.logo{
    height: 100px;
    padding: 0px 5px;
}
.logo>img{
    width: 100%;
}
.logo-xs{
    display: none;
}
li{
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 10px;
    border-left: 3px solid transparent;
}
li a, .left-nav a{
    margin-left: 5px;
    text-decoration: none;
    text-align: center;
    color: #a3a3a3;
}
.plus{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #a3a3a3;
    line-height: 20px;
    text-align: center;
}
.download{
    padding-left: 15px;
    display: flex;
    color: #a3a3a3;
    margin-top: auto;
    align-items: center;
    gap: 5px;
}
.active-border-left{
    border-color: #80bd23;
}
.active{
    color: white;
}
a:hover{
    color: white;
}
li:hover{
    border-color: #80bd23;
}
hr{
    width: 85%;
    margin: 0 auto;
    color: #a3a3a3;
}
.create:hover .btn-txt{
    color: white;
}
.create:hover .plus{
    background-color: white;
}
/* MAIN */
main{
    margin-left: 170px;
    overflow: auto;
    padding: 100px 10px 0 10px;
    gap: 10px;
    z-index: 8;
    width: calc(100vw - 170px);
    height: calc(100vh - 100px);
    background-color: #141922;
}
.sec-nav{
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.sec-nav a{
    padding-top: 20px;
    height: 35px;
    text-decoration: none;
    text-transform: uppercase;
    color: #7f8286;
    margin: 0px 10px;
}
.sec-nav a.active{
    border-bottom: 1px solid #80bd23;
}
.sec-nav a:hover{
    color: white;
}
.recently-played, .created_for, .popular{
    gap: 10px;
    margin-bottom: 20px;
}
.recently-played-albums, .created_for-albums, .popular-artists{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
.item, .item-info{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    gap: 5px;
}
.cover-img>img{
    width: 100%;
    display: block;
}
.popular-artists .item .cover-img img{
    border-radius: 50%;
}
.item:hover img{
    opacity: 40%;
}
/* FOOTER */
footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.left-footer, .middle-footer, .right-footer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.left-footer{
    margin-left: 10px;
}
.info{
    display: flex;
    flex-flow: column nowrap;
    gap: 3px;
    padding-left: 5px;
    margin-right: 20px;
}
.actions{
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    height: 16px;
    color: #a3a3a3;
}
.player{
    display: flex;
    flex-flow: column nowrap;
    width: 30vw;
    align-items: center;
}
.commands{
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.commands i{
    font-size: 1.5vw;
}
.commands, .bar{
    display: flex;
    flex-flow: row nowrap;
    gap: 0px 10px;
    align-items: center;
    margin: 5px 0;
}
.timebar, .progress{
    width: 25vw;
    border-radius: 50px;
    height: .5vw;
}
.timebar, .volume-bar{
    background-color: #5a5a5a;
}
.progress{
    background-color: #a3a3a3;
    animation: progress 275s linear;
}
@keyframes progress {
    0%{
        width: 0vw;
    }
    100%{
        width:25vw;
    }
}
.right-footer{
    color: white;
    gap: 10px;
    margin-right: 10px;
}
.right-footer>i, .volume-high>i, .volume-mute>i{
    font-size: 1vw;
}
.volume-mute, .volume-high{
    width: 1vw;
    margin-right: .3vw;
}
.volume-mute{
    display: none;
}
.volume:hover .volume-high{
    display: none;
}
.volume:hover .volume-mute{
    display: inline-block;
}
.volume-bar{
    border-radius: 50px;
    height: .3vw;
    width: 7vw;
}
.volume-bar-effective{
    background-color: #a3a3a3;
    width: 4vw;
    height: .3vw;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.author:hover{
    color: white;
    text-decoration: underline;
}
.fa-heart:hover, .fa-folder:hover{
    color: white;
}
.timebar:hover .progress{
    background-color: #80bd23;
}
.timebar:hover .progress::after{
    content: "\f111";
    color: #80bd23;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: relative;
    left: 0vw;
    bottom: .2vw;
}
.volume-bar:hover .volume-bar-effective{
    background-color: #80bd23;
}
.volume-bar:hover .volume-bar-effective::after{
    content: "\f111";
    color: #80bd23;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: relative;
    left: 3.8vw;
    bottom: .4vw;
}
/* BUTTONS */
.btn-white{
    height: 50%;
    border: 3px solid white;
    border-radius: 40px;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
}
.btn-white:hover{
    height: 60%;
}
.create{
    padding-left: 5px;
    border: none;
    background-color: transparent;
}

/* TEXT */
h5{
    color: white;
    text-transform: uppercase;
    padding: 15px;
}
h6, h1{
    color: white;
}
h1{
    font-size: 2em;
}
h1, h3{
    margin: 10px 0px;
}
.name{
    color: white;
    font-weight: 700;
}
h3{
    color: #a3a3a3;
}
.author, .time{
    color: #a3a3a3;
}
/* FONTAWESOME */
.fa-solid.fa-plus{
    color: black;
}
.btn-txt{
    color: #a3a3a3;
}
/* IMAGES */
.small{
    max-width: 16px;
}
.user{
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 0 5px 16px;
}
.user-img{    
    width: 20px;
    height: 20px;
    background-color: #a3a3a3;
    border-radius: 50%;
    overflow: hidden;
}
.user-img>img{
    width: 100%;
    vertical-align: middle;
}
.footer-cover{
    height: 50%;
}
/* MEDIA QUERY */
@media screen and (min-width:0px){
    .item{
        width: calc(100% / 2 - 10px);
    }
}
@media screen and (min-width:700px){
    .item{
        width: calc(100% / 4 - 10px);
    }
}
@media screen and (min-width:1100px){
    .item{
        width: calc(100% / 6 - 10px);
    }
}
@media screen and (min-width:0px) and (max-width:500px){
    nav ul li a, .playlist, .download a, .user a, .logo>.logo{
        display: none;
    }
    .logo, .logo-xs{
        display: block;
        margin-bottom: 5px;
        width: 50px;
        height: 50px;
    }
    .left-nav{
        width: 50px;
    }
    main{
        margin-left: 50px;
        width: calc(100vw - 50px)
    }
}